button{
    background:black;
    width:30vw;
    padding:2%;;
    font-size:1.2rem;
    margin-top:4%;
    border:none;
    outline:0.5px solid gray;
    color:white;
    font-weight:bold;
} 

button:hover{
    background:rgb(32, 81, 145);
}

@media only screen and (max-width:600px){
    button{
        margin-right:12vh;
        width:100%;
    }
}