#create-post{
    height:20vh;
    margin-top:5vh;
    display:flex;
    flex-direction: column;
      
}

#create-post textarea{
    outline:none;
    margin-bottom:1.5vh;
    min-height:45%;
    
}

#create-post-button{
    background:white;
    color:black;
    width:100%;
}

#create-post-button:hover{
    background:black;
    color:white;

}

#create-post select{
    height:50%;
}

#tag{
    height:10vh
}