#create-post{
    height:20vh;
    margin-top:5vh;
    display:flex;
    flex-direction: column;
      
}

#create-post textarea{
    outline:none;
    margin-bottom:1.5vh;
}

#create-post-button{
    background:white;
    color:black
}

#tag{
    height:10vh
}