#header{
    width:100vw;
    height:10vh;
    background-color:#1877F2;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    color:white;
}


#header-left{
    padding-left:2%;
    flex-grow: 1;
}

#header-right{
    display: flex;
    flex-direction:row;
    justify-content:center;
    flex-grow: 1;

}

a span{
    color:white;
    text-decoration:none;
    margin:0 2%;
    width:25vh;
    display:inline-block;
    padding-top:5%;
}

 a span:hover{
     color:rgba(42, 169, 253, 0.685);
     text-decoration:underline;
 }
