#header{
    width:100vw;
    height:10vh;
    /* background-color:#1877F2; */
    /* background:	#0a2342; */ /* previous colour*/
    /* background-color: #970ceeef; */
    background-color: #FFCE35;
    display:flex;
    flex-direction:row;
    position:fixed;
    
    justify-content:space-between;
    color:white;
    -webkit-box-shadow: 0 8px 6px -6px #0a2342;
    -moz-box-shadow: 0 8px 6px -6px #0a2342;
         box-shadow: 0 8px 6px -6px #0a2342;
}


#header-left{
    padding-left:2%;
    flex-grow: 1;
}

#header-right{
    display: flex;
    flex-direction:row;
    justify-content:center;
    flex-grow: 1;

}

a span{
    color:white;
    text-decoration:none;
    margin:0 2%;
    width:25vh;
    display:inline-block;
    padding-top:5%;
}

 a span:hover{
     text-decoration:underline;
 }


 #header-right p{
     display:inline-block;
     margin-top:1vh;
     font-size: 1.5rem;
     margin-right:2vw;
     font-weight:bold;
     color:white;
     /* color:black; */
 }
 #header-right span{
    display:inline-block;
    font-size: 1.5rem;
    font-weight: bold;
    /* color:black; */
}

@media only screen and (max-width:600px){

    #header{
        width:100%;
        height:10%;
        font-weight: normal;
        font-size:0.8rem;
    }
    #header-right span{
        display:inline-block;
        font-size: 0.5rem;
        font-weight: bold;
   
    }

    /* #header-left small{
        display:none;
    } */


    #header-right p{
        font-size: 0.8rem;
        font-weight:bold;
        /* color:white; */
        color:black;
    }

}