#header{
    width:100vw;
    height:10vh;
    /* background-color:#1877F2; */
    /* background:	#0a2342; */ /* previous colour*/
    background-color: #970ceeef;
    display:flex;
    flex-direction:row;
    position:fixed;
    
    justify-content:space-between;
    color:white;
    -webkit-box-shadow: 0 8px 6px -6px #0a2342;
    -moz-box-shadow: 0 8px 6px -6px #0a2342;
         box-shadow: 0 8px 6px -6px #0a2342;
}


#header-left{
    padding-left:2%;
    flex-grow: 1;
}

#header-right{
    display: flex;
    flex-direction:row;
    justify-content:center;
    flex-grow: 1;

}

a span{
    color:white;
    text-decoration:none;
    margin:0 2%;
    width:25vh;
    display:inline-block;
    padding-top:5%;
}

 a span:hover{
     text-decoration:underline;
 }


 #header-right p{
     display:inline-block;
     margin-top:1vh;
     font-size: 1.3rem;
     margin-right:2vw;
     /* color:black; */
 }
 #header-right span{
    display:inline-block;
    font-size: 1.2rem;
    /* color:black; */
}
