.sign{
    display:flex;
    flex-direction:column;
    justify-content:center;
    flex-wrap: wrap;
    align-items:center;
    width:35%;
    height:85vh;
    /* box-shadow: 10px 5px 5px 10px white; */
    background:white;
    position: relative;
    left:30%;
    top:2%;

}

h4{
    margin:2% 0;
    font-size:2rem;
    color:black
}


#bottom-elements{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    font-size:1rem;
    width:30%;
    margin-top:2%;
    color:rgb(18, 90, 197);
}

h5{
    background-color:'yellow';
    color:red;
    padding:0.3rem;
}

@media only screen and (max-width:600px){
    .sign{
        width:100%;
        left:0%;
    }
}