.tag-element{
    color:white;
    margin-bottom:5vh;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin-top:2vh;
    color:black;

}

.tag-element-left{
    padding-left:2vw;
}

.tag-element-right{
    padding-right:2vw;
}

@media only screen and (max-width:600px){

    .tag-element{

       display:none;

    }




}