#logout-container{
    width:100vw;
    min-height:100vh;
    /* background:white; */
    /* background: linear-gradient(39.97deg, #970ceeef 0.79%, white 69.29%); */
    background-color: #EFF4ED;
    color:black;
}


#unauthorized{
    font-size:4rem;
    color:black;
    text-align:center;
    font-weight:bold;
    padding-top:20vh;
    width:100vw;
    height:100vh;

}

h6, p, h1{
    margin-top:5vh;
    color:black;
}

#about{
    width:50vw;
    margin-left:25vw;
    font-weight:bold;
    font-size:2rem;
}

#about h6{
    text-decoration: underline; 
}